<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>{%block title%} {%endblock%}</title>
</head>
<body>

    <header>{%block header%}Teste site{%endblock%}</header>

        <nav class="navbar">
            {%block nav%}
     <ul>
      <li><a href="{{url_for('suporte')}}">Suporte</a></li>
      <li><a href="">Contato</a></li>
      <li><a href="{{url_for('chamados')}}">Meus chamados</a></li>
     </ul>
    
     <div> 
      <ul><li><a href="{{url_for('logout')}}">Sair</a></li></ul>
     </div>
         
   
       {%endblock%}
    </nav>
       
    <main>{%block main%} conteudo {%endblock%}</main>
    
</body>
</html>