{%extends "base.html"%}

{%block title%} Verificação {%endblock%}

{%block header%} lock header%

<header class="header" style=" background-image: url(../static/imagens/imagens/avulsos/fundo_equipamento.avif)">
        <figure>
        </figure>
        <h1>Verificação</h1>
</header>
{%endblock%}

{%block main%} 

 <body>
    <div class = "input-table">
        
        <form method="POST" autocomplete="off">
        {{form.csrf_token}}
         <div>
       <div style="color: white; padding-left:20px ;">
        <h4>Código de Verificacao</h4>
       </div>
        <div class ="input-group">
        {{form.codigo_verificacao.label()}}
        {{form.codigo_verificacao()}}
        </div>
          <div class="input-group">
        {{form.botao_confirmacao()}}
        </div>

        </form>
            
        {% with messages = get_flashed_messages() %}
           {% if messages %}
             {% for message in messages %}
               <h3>{{message}}</h3> 
             {% endfor %}
           {% endif %}
        {% endwith %}
</div>
{%endblock%}














